body{
    background-color: #011936
    
}
.main-body{
    display: flex ;
    align-content: center;
    min-height: 11vh;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}
.button{
    background-color: #29e1ee; 
    border: 2px solid  #29e1ee;
    border-radius: 22px;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}
.button1{
    background-color: #ffbe00; 
    border: 2px solid  #ffbe00;
    border-radius: 22px;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
}

.nav-profile{
    
    background-image: linear-gradient(to top, #1A2980 3.32%, #1E499C 37.56%, #26D0CE 100%);

}
.flex{
    display: flex;
    justify-content: center;
    margin-top: 1em;

}
label{
    margin-right: 1em;
}
