@import url('https://fonts.googleapis.com/css2?family= Roboto: wght @300 & display=swap');

.tr {
    font-family: 'Roboto', sem serifa;
}

.container {
    font-family: 'Roboto', sem serifa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #011937;
    min-height: 100vh;
}

.flexBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

.card {
    margin: 22px;
    border: 5px solid black;
    height: 15rem;
    box-shadow: 6px 6px 0px 0px rgb(0 0 0 / 54%);
    border-radius: 4%;
}


.card-body {
    background-color: #8AB3D8;
    border-radius: 1%;
}

h5 {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114%;

}

.card-fotter {
    display: flex;
    justify-content: space-evenly;
}

.card-link {
    text-decoration: none;
}

a i {
    color: black;
}

.list-group-item {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.label-float {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#center {
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    margin: 0;
    padding: 5px;
}