@import url('https://fonts.googleapis.com/css2?family= Roboto: wght @300 & display=swap');

.flex {

    background-image: linear-gradient(to right, #1A2980 3.32%, #1E499C 37.56%);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    border-radius: 9px;
}

@media print {
    .navigation {
        display: none;
    }

    .icon {
        display: none;
    }

    img {
        display: none;
    }
}

h3 {
    text-align: center;
    line-height: 0;
}

div ul li span i {
    color: black;
}