 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&display=swap');

.navigation i {
   color: black;
}

 #flex {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    min-height: 100vh;
 }

 #center {
    padding: 1em;
 }

 #line {
   line-height: 17px;
 }
 #center i {
   margin-left: 0.5em;
 }
