* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #011936; 
    min-height: 100vh;
}
.flexBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}
.card{
    margin: 22px;
    border: 5px solid black;
    height: 15rem;
    box-shadow: 6px 6px 0px 0px rgb(0 0 0 / 54%);
    border-radius: 4%;
}


.card-body{
    background-color: #8AB3D8;
    border-radius: 1%;
}
h5{
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 114%;
   
}
.list-group-item{
    background-color: #8AB3D8;
}
.card-fotter{
    display: flex;
    justify-content: space-evenly;
}
 .card-link{
    text-decoration: none;
 }
 a i{
    color: black;
 }