* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



.navigation {
  position: fixed;
  inset: 180px 0 180px 10px;
  width: 75px;
  background: #0D2A56;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
}

.navigation ul li a .icon {
  position: relative;
  line-height: 60px;
  color: #222;
  font-size: 1.75em;
}

