@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

 :root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) /0.7);
}

body {
    min-height: 100vh;
    background: #212534;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}

.card {
    background: #191c29;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}

.card::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient( var(--rotate), #1A2980 3.32%, #1E499C 37.56%, #26D0CE 100%);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) /6));
    background-image: linear-gradient( var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}


/* navbar navbar-expand-lg bg-light" style="
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#102f61+0,131c37+32,141d37+100 */


/*background: #102f61;

/* Old browsers */


/*background: -moz-linear-gradient(left, #102f61 0%, #131c37 32%, #141d37 100%);

/* FF3.6-15 */


/*background: -webkit-linear-gradient(left, #102f61 0%, #131c37 32%, #141d37 100%);

/* Chrome10-25,Safari5.1-6 */


/*background: linear-gradient(to right, #102f61 0%, #131c37 32%, #141d37 100%);

/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#102f61', endColorstr='#141d37', GradientType=1);

/* IE6-9 */